# Laravel Zero
/builds
/.vagrant
/database/database.sqlite
.env
.tuti/*

# Ideas
/.idea
/.vscode

# Composer
/vendor
composer.phar
composer.lock

# OS
.DS_Store
Thumbs.db

# PHPStan
phpstan.neon
.phpunit.cache

# Coverage
/coverage
/.phpunit.cache
.phpunit.result.cache

# Logs
*.log

# Backup files
*.backup
*~

# Build artifacts
*.phar
/box.json.dist
/app/Commands/Test/docker-compose.test.yml
